@viewport {
  width: device-width;
  zoom: 1.0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@400;600&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

.blog-hero-img {
  width: 100%;
  height: auto;
}

.blog-details {
  background-color: rgba(228, 228, 197, 0.12);
  border: 1px solid rgba(246, 236, 32, 1);
  color: #333;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

.blog-title {
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Playfair Display', serif;
  padding: 10%;
  text-align: center;
}

.blog-date {
  text-align: left;
  color: white;
  font-size: 16px;
}

.blog-btn-prev {
  float: left;
}

.blog-btn-next {
  float: right;
}

.blog-btn {
  padding: 2%;
  border: 1px solid rgba(246, 235, 33, 1);
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  color: rgba(111, 105, 58, 0.82);
  font-size: 18px;
  padding-top: 1%;
  border-radius: 0;
}

.blog-sunflower {
  text-align: center;
  padding: 2%;
}

.blog-recent-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #333;
  padding-top: 2%;
  padding-bottom: 5%;
}

.blog-news-div {
  padding: 2%;
}

.smaller-div {
  background-image: url('../img/blog_1.jpg');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 1%;
  color: rgba(191, 191, 191, 1);
}

.text-box {
  background-color: white;
  border: 1px solid rgba(246, 236, 32, 1);
  margin: 40% 20% 2%;
  padding: 20px 0 10px;
}

.blog-p {
  padding-top: 40px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

.blognews-title {
  color: #333;
  font-family: 'Playfair Display', serif;
}

.blog-all-btn {
  text-align: center;
  padding: 3%;
}

@media only screen and (max-width: 600px) {
  .blog-title {
    font-size: 36px;
  }

  .blog-recent-title {
    font-size: 26px;
  }

  .blog-details {
    font-size: 18px;
  }

  .blog-details {
    margin-top: -30%;
  }
}

@media only screen and (min-width: 600px) {
  .blog-title {
    font-size: 46px;
  }

  .blog-recent-title {
    font-size: 36px;
  }

  .blog-details {
    font-size: 22px;
  }

  .blog-details {
    margin-top: -25%;
  }
}

@media only screen and (min-width: 992px) {
  .blog-details {
    margin-top: -20%;
  }
}