.header-blog {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.hp-blog-img {
  padding: 50px;
}
.smaller-div {
  background-image: url("https://format-com-cld-res.cloudinary.com/image/private/s--ShY1zB6H--/c_limit,g_center,h_65535,w_550/fl_keep_iptc.progressive,q_95/v1/575114c96aba3e63085150d7ab14a0e0/MILLIE-CONSTANCE-VICTORIA-EDIT-1web.jpg");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
  color: rgba(191, 191, 191, 1);
  
}

.text-box {
  background-color: white;
  border: 1px solid rgba(246, 236, 32, 1);
  margin: 60% 20% 2%;
  padding: 20px 0 200px;
  align-items: center;
}


.pagination {
  display: block !important;
  text-align: center;
  align-items: center;
  float: center;
  padding: 20px 0;
}

.pagination a {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}